<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Лучший сайт на свете</title>
</head>
<body>
    <h1>Главная</h1>
    <form action="/calc">
        <input type="text" name="a">
        <!-- <select name="sign">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="/">/</option>
            <option value="*">*</option> -->
        <!-- </select> -->
        <input type="text" name="sign">
        <input type="text" name="b">
        <input type="submit" value="=">
    </form>
    <h1>фио</h1>
    <form action="/name">
        <input type="text" name="first_name">
        <input type="text" name="last_name">
        <input type="text" name="surname">
        <input type="submit" value="дальше">
    </form>   
</body>
</html>